# URL de l'API Backend Esup-Pod V5 (doit se terminer par un slash)
NEXT_PUBLIC_BACK_URL=http://localhost:8000/

# Informations du projet affichées sur l'interface
NEXT_PUBLIC_APP_LOGO=/logoEsup.svg
NEXT_PUBLIC_APP_TITLE=Esup.Pod

# (Optionnel) Clé pour la gestion des sessions NextAuth si utilisé
# NEXTAUTH_SECRET=your_secret_here

# Définissez sur "production" en production
NODE_ENV=development
