.main_video_content {
  display: flex;
  flex-direction: row;
}
.video_infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video_infos p {
  color: var(--c--globals--colors--gray-700);
  font-size: var(--c--globals--font--sizes--sm);
}

.video_infos_details,
.video_infos_details p {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.video_infos_details p {
  color: var(--c--globals--colors--gray-750);
  font-size: var(--c--globals--font--sizes--sm);
  color: var(--text-color-brand);
  padding: var(--c--globals--spacings--xxxs) 0;
}
.video_infos_details span,
.video_infos_block_right span,
.video_infos_block_right ul li {
  color: var(--c--contextuals--content--palette--brand--primary);
}

.video_infos_details_tags {
  display: flex;
  align-items: center;
}

.video_infos_header_buttons {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
}

.video_infos_header_buttons a button {
  margin-left: var(--c--globals--spacings--s);
}

.video_infos_header,
.video_infos_header_time {
  display: flex;
  align-items: center;
}

.video_infos_header_time {
  padding-left: var(--c--globals--spacings--s);
}

.video_infos_header_time span {
  padding-right: var(--c--globals--spacings--xxxs);
}

.video_infos_block_right {
  border: 1px solid var(--c--globals--colors--gray-200);
  border-radius: 8px;
  padding: var(--c--globals--spacings--md);
  width: 20%;
  white-space: nowrap;
}

.video_infos_block_right_title {
  color: var(--text-color-brand);
  padding-bottom: var(--c--globals--spacings--sm);
  font-weight: var(--c--globals--font--weights--bold);
  font-size: var(--c--globals--font--sizes--m);
}

.video_infos_block_right ul {
  list-style-type: none;
}

.video_infos_block_right h2,
.video_infos_block_right h4 {
  margin-top: var(--c--globals--spacings--md);
  margin-bottom: var(--c--globals--spacings--xs);
}

.video_infos_description {
  background-color: var(--c--contextuals--background--palette--brand--tertiary);
  padding: var(--c--globals--spacings--md);
  border-radius: 8px;
  font-weight: var(--c--globals--font--weights--medium);
}

.video_infos_details_update {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .main_video_content {
    display: flex;
    flex-direction: column;
  }
  .video_infos_block_right {
    width: 100%;
  }
}
