.main_video_content {
  display: flex;
  flex-direction: row;
}
.video_infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video_infos p {
  color: var(--c--globals--colors--gray-700);
  font-size: var(--c--globals--font--sizes--sm);
}

.video_infos_details,
.video_infos_details p {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.video_infos_details p {
  color: var(--c--globals--colors--gray-750);
  font-size: var(--c--globals--font--sizes--sm);
  color: var(--text-color-brand);
  padding: var(--c--globals--spacings--xxxs) 0;
}
.video_infos_details span,
.video_infos_block_right span,
.video_infos_block_right ul li {
  color: var(--c--contextuals--content--palette--brand--primary);
  font-size: var(--c--globals--font--sizes--sm);
}

.video_infos_details span {
  padding-left: 10px;
}

.video_infos_details_tags {
  display: flex;
  align-items: center;
}

.video_infos_header_buttons {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  gap: 5px;
}

.video_infos_header,
.video_infos_header_time {
  display: flex;
  align-items: center;
}

.video_infos_header_time {
  padding-left: var(--c--globals--spacings--s);
}

.video_infos_header_time span {
  padding-right: var(--c--globals--spacings--xxxs);
}

.video_infos_block_right {
  border: 1px solid
    var(--c--contextuals--background--semantic--brand--secondary);
  border-radius: 8px;
  padding: var(--c--globals--spacings--md);
  width: 20%;
  white-space: nowrap;
  height: fit-content;
}

.video_infos_block_right_title {
  margin-bottom: var(--c--globals--spacings--xs);
  color: var(--text-color-brand);
  font-size: var(--c--globals--font--sizes--h3);
  font-weight: var(--c--globals--font--weights--bold);
}

.video_infos_block_right ul {
  list-style-type: none;
}

.video_infos_block_right h4 {
  margin-top: var(--c--globals--spacings--md);
  color: var(--text-color-brand);
  margin-bottom: var(--c--globals--spacings--xs);
  align-items: center;
  display: flex;
  gap: var(--c--globals--spacings--xxs);
  font-weight: var(--c--globals--font--weights--regular);
}

.video_infos_description {
  background-color: var(
    --c--contextuals--background--semantic--brand--tertiary
  );
  padding: var(--c--globals--spacings--md);
  border-radius: 8px;
  font-weight: var(--c--globals--font--weights--medium);
}

.video_infos_details_update {
  gap: 5px;
}

@media (max-width: 1024px) {
  .video_infos,
  .video_infos_details {
    flex-direction: column;
    align-items: start;
  }

  .video_infos_header_buttons {
    align-self: flex-start;
  }
  .main_video_content {
    display: flex;
    flex-direction: column;
  }
  .video_infos_block_right {
    width: 100%;
  }
}
