@import "@openfun/cunningham-react/style";
@import "../cunningham-tokens.css";
@import "@openfun/cunningham-react/fonts";
@import "@openfun/cunningham-react/icons";

/*
Small Screens: max-width: 600px (smartphones)
Medium Screens: 601px — 1024px (tablets)
Large Screens: 1025px — 1440px (desktops)
Extra Large Screens: min-width: 1441px
*/
/* globals.css */

:root {
  --navbar-height: 78px;
  --sidebar-open: 285px;
  --background: var(--c--contextuals--background--surface--primary);
  --background-brand: var(
    --c--contextuals--background--semantic--brand--primary
  );
  --background-brand-secondary: var(
    --c--contextuals--background--semantic--brand--secondary
  );
  --text-color: var(--c--contextuals--content--semantic--neutral--primary);
  --text-color-brand: var(--c--contextuals--content--semantic--brand--primary);
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  padding-top: var(--navbar-height);
  transition: all 0.4s ease;
  min-height: 800px;
  margin-left: 70px;
}

.c__alert--success {
  margin-bottom: var(--c--globals--spacings--lg);
}

.sidebarFixed {
  margin-left: var(--sidebar-open) !important;
}

.content {
  padding: var(--c--globals--spacings--lg);
}

.cunningham-theme--dark .MuiBreadcrumbs-separator {
  color: var(--text-color);
}

/* Styles for small screens */
@media (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}

@media (max-width: 600px) /*and (max-width: 1024px) */ {
  :root {
    --navbar-height: 80px;
  }
}

@media (max-width: 535px) /*and (max-width: 1024px) */ {
  :root {
    --navbar-height: 125px;
  }
}

@media (max-width: 295px) /*and (max-width: 1024px) */ {
  :root {
    --navbar-height: 160px;
  }
}
