@import "../cunningham-tokens.css";
@import "@openfun/cunningham-react/style";
@import "@openfun/cunningham-react/fonts";
@import "@openfun/cunningham-react/icons";

/*
Small Screens: max-width: 600px (smartphones)
Medium Screens: 601px — 1024px (tablets)
Large Screens: 1025px — 1440px (desktops)
Extra Large Screens: min-width: 1441px
*/
/* globals.css */
:root {
  --navbar-height: 70px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 70px;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
/* }* */

body {
  background: var(--c--globals--colors--white-000);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  padding-top: var(--navbar-height);
  color: var(--c--contextuals--content--semantic--neutral--primary);
  transition: all 0.4s ease;
  min-height: 800px;
  margin-left: 70px;
}

.sidebarFixed {
  margin-left: 270px !important;
}

.content {
  padding: var(--c--globals--spacings--lg);
}

.content h1 {
  color: black;
}

/* Styles for small screens */
@media (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}

@media ((min-width: 600px) and (max-width: 800px)) /*and (max-width: 1024px) */ {
  :root {
    --navbar-height: 80px;
  }
}

@media (max-width: 600px) /*and (max-width: 1024px) */ {
  :root {
    --navbar-height: 127px;
  }
}
