.navbar {
  background-color: var(--c--globals--colors--white-000);
  color: var(--c--contextuals--content--semantic--neutral--primary);
  display: flex;
  align-items: center;
  padding: var(--c--globals--spacings--sm);
  border-bottom: 1px solid var(--c--globals--colors--gray-500);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--navbar-height);
}

.navbar_search {
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.navbar_search_mobile {
  margin-left: auto;
  margin-right: var(--c--globals--spacings--sm);
  font-size: var(--c--globals--font--sizes--h1);
}

.navbar_search_mobile span {
  font-size: var(--c--globals--font--sizes--h1);
}

.navbar_search_dialog {
  padding: var(--c--globals--spacings--md);
}

.navbar_logo {
  display: flex;
  color: var(--c--contextuals--content--semantic--neutral--primary);
  text-decoration: none;
}

.navbar_button_menu {
  font-size: var(--c--globals--font--sizes--h1);
  border: 0;
  background: none;
  padding: 0 var(--c--globals--spacings--sm) 0 var(--c--globals--spacings--sm);
  cursor: pointer;
}

.navbar_logo img {
  height: 35px;
}

.navbar_logo strong {
  font-size: var(--c--globals--font--sizes--h2);
}

.navbar_profil {
  margin-left: 16px;
  margin-right: var(--c--globals--spacings--xxl);
}

.navbar_profil_menu {
  display: flex;
  flex-direction: column;
}

.button_close {
  align-self: flex-end;
}

.navbar_profil_menu_name_user {
  margin-left: 16px;
  margin-bottom: var(--c--globals--spacings--xs);
  font-size: var(--c--globals--font--sizes--h6);
  background-color: var(--c--contextuals--background--semantic--brand--primary);
  color: var(--c--globals--colors--white-000);
  padding: var(--c--globals--spacings--st);
  display: inline-block;
  width: fit-content;
}

.navbar_profil_menu_item span {
  margin-right: var(--c--globals--spacings--s);
}

/* Styles for small screens & tablets */
@media (max-width: 1024px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
  }
  .navbar_button_display {
    display: none;
  }
  .navbar_button {
    padding: var(--c--globals--spacings--s);
  }
  .navbar_profil_menu_item span {
    padding-left: var(--c--globals--spacings--md);
  }
  .navbar_profil_menu_name_user {
    margin-left: var(--c--globals--spacings--md);
    margin-bottom: var(--c--globals--spacings--md);
  }
  .navbar_profil_menu {
    padding-top: 20px;
  }
}
