.sidebar {
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: var(--c--globals--colors--white-000);
  padding-top: 20px;
  color: var(--c--contextuals--content--semantic--neutral--primary);
  margin-top: var(--navbar-height);
  border-right: 1px solid
    var(--c--contextuals--background--semantic--brand--primary);
  transition: all 0.3s ease;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.open {
  width: 275px;
}

.closed {
  width: 70px;
}

.menu_title {
  font-weight: var(--c--globals--font--weights--bold);
  font-size: var(--c--globals--font--sizes--m);
  color: var(--c--contextuals--background--semantic--brand--primary);
  transition-property: color;
  transition-duration: 0.2s;
  padding: var(--c--globals--spacings--m) 0 var(--c--globals--spacings--m) 16px;
}

.menu {
  padding-bottom: var(--c--globals--spacings--md);
}

.navbar_profil_menu {
  display: flex;
  flex-direction: column;
}

.button_close {
  align-self: flex-end;
}

.sidebar_menu_title {
  padding-left: var(--c--globals--spacings--base);
  padding-bottom: var(--c--globals--spacings--s);
  font-weight: var(--c--globals--font--weights--bold);
  white-space: nowrap;
  transition-property: color;
  transition-duration: 0.35s;
  font-size: var(--c--globals--font--sizes--m);
}

.menu_item,
.menu_dropdown_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 0px 6px 21px;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: var(--c--globals--font--sizes--sm);
  /*border-radius: var(--c--components--button--border-radius);*/
  cursor: pointer;
}

.menu_item span {
  font-size: var(--c--globals--font--sizes--h3);
  padding-right: var(--c--globals--spacings--base);
}
.menu_item a {
  padding-right: var(--c--globals--spacings--s);
}

.active {
  background-color: red;
}

.menu_item:hover {
  background: rgb(
    from var(--c--contextuals--background--semantic--brand--primary) r g b / 20%
  );
}

.main_menu_dropdown {
  padding-left: var(--c--globals--spacings--l);
  background: rgb(
    from var(--c--contextuals--background--semantic--brand--primary) r g b / 20%
  );
}

/* For Mobile & Tablets screens */
@media (max-width: 1024px) {
  .open {
    width: 100%;
    height: 100%;
  }

  .closed {
    width: 0;
    overflow: hidden;
  }
  .sidebar {
    margin-top: 0px;
  }
  .menu {
    margin-left: 16px;
  }
}
