.breadcrumb {
  background-color: var(--c--contextuals--background--surface--tertiary);
  padding-left: var(--c--globals--spacings--md);
}

.breadcrumbLink {
  font-size: var(--c--globals--font--sizes--xs) !important;
  color: var(--c--contextuals--content--semantic--neutral--primary) !important;
}
