.breadcrumb {
  background-color: var(--c--globals--colors--gray-000); /* Solid white to match nav */
  padding: 6px var(--c--globals--spacings--md); /* Thinner padding */
  border-bottom: 1px solid var(--c--globals--colors--gray-200); /* Thin border */
  position: -webkit-sticky;
  position: sticky;
  top: var(--navbar-height);
  z-index: 898;
}

.breadcrumbLink {
  font-size: var(--c--globals--font--sizes--xs) !important;
  color: var(--text-color) !important;
}
